body
{
    background-color: rgb(230, 230, 230);
}

h1{
    color: black;
    text-align: center;
}

p{
    color: black;
    text-align: center;
}

.border{
    height: 700px;
    width: 800px;
    border: 2px; 
    border-style: solid; 
    border-color: black;
    display: grid;
    grid-template-columns: 480px 320px;
    margin: auto;
}

.container{
    width: 400px;
    height: 640px;
    margin-top: 30px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
    grid-template-rows: repeat(auto-fit, 40px);
}

.pixel0{
    border: 0.5px; 
    border-style: solid; 
    border-color: rgba(0, 0, 0, 0.171);
}

.pixel1{
    border: 1px; 
    border-style: solid; 
    border-color: rgb(0, 0, 0);
    background-color: rgb(24, 24, 24);
}

.borderPixel{
    border: 1px; 
    border-style: solid; 
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}

.player{
    border: 1px; 
    border-style: solid; 
    border-color: rgb(0, 0, 0);
    background-color: rgb(61, 32, 32);
}

.obstr{
    border: 1px; 
    border-style: solid; 
    border-color: rgb(0, 0, 0);
    background-color: rgb(102, 22, 22);
}

.menu{
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 30px;
    border-color: black;
    border:  1.5px;
    border-style: solid;
}

.start{
    width: 150px; 
    height: 35px;
    margin-left: 65px;
    font-size: 20;
}

.info{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    height: auto;
    text-align:justify;
}

.results{
    text-align:center;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
    height: 420px;
}

.scores{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
    height: 375px;
}